<table>
    <tr>
        <td>
            CONTACT US
        </td>
    <tr>
        <td>
            Phone #: (###) ###-####
        </td>
    <tr>
        <td>
            <a href="mailto:email@email.com">
                email@email.com </a>
        </td>
    <tr>
        <td><img src="/images/Facebook-logo.png" width="25px">
            <span style="color:#3b5998"> Like Us On Facebook @ </span>
            <a href="https://www.facebook.com/SprintStuff/">Sprint Stuff</a>
</table>