<div id="title">
  <h1>"Sprint Stuff"</h1>
</div>

<div id="navigation">
  <a href="/"> Home </a>&emsp;
  <a href="/about"> About Us </a>&emsp;
  <a href="/events"> Events </a>&emsp;
  <a href="/products"> Online Store </a>&emsp;
  <a href="/my-cart"> View Cart </a>
</div>