<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Stuff {{title}}</title>
    <link rel="Stylesheet" type="text/css" href="/css/main.css">
    <link rel="Stylesheet" type="text/css" href="/css/header.css">
    <link rel="Stylesheet" type="text/css" href="/css/footer.css">
</head>

<body>
    <header id="header">
        {{>header}}
    </header>
    <div id="page-container">
    <div id="content">
        {{{body}}}
    </div>
    <footer id="footer">
        {{>footer}}
    </footer>
    </div>
    <script type="text/javascript" src="/src/params.js"></script>
</body>

</html>