<h1>This is the About Page </h1>

<div id="about-us">
  <p>
    Bob has been <b>Custom Hand Painting</b> Models Cars since the early 70''s.
    While in High School he used to build & paint plastic Models of the old Super Modified's
    (which he still does today) that ran at San Jose, Clovis, Madera, & Kearney Bowl in Fresno, Ca.</p>

  <p>
    After serving in the USAF from '74-'78, he would go into the Lumber industry for work.
    In '85, Bob started to <b>Custom Hand-Paint Hat Pins and Earrings for Sprint Cars.</b>
    The first time he set up a booth was at the WOO event at Calistoga in '87. At that time,
    Bob sold <b>Custom Hand-Painted Hat Pins, Earrings,</b> (that he designed himself) <i>Wooden and Plastic
      Model Sprint Cars</i>, and <b>silhouette Sprint Car Stickers</b> that were his own design. We now make
    <b>Custom Stickers</b> of your favorite Driver for <b>Sprint Cars, Mini Sprints, Midgets, Late Model
      Stock Cars & Modified's.</b>
  </p>

  <p>
    From '87-'97 he sold at various tracks; Antioch, Chico, El Centro, Grass Valley, Hanford, Oildale,
    Placerville, Perris, Sacramento Mile, Tulare, Ventura, all in Calif. He also did shows out of state,
    including Cottage Grove, OR., Skagit Dirt Cup, WA., Manzanita, AZ., Jayhawk Nationals in Topeka, KS.
    & also at the Knoxville Nationals with help from his wife & 2 step sons.</p>

  <p>
    In the mid-'90s, Bob had a Son and Daughter of his own in which he devoted his time Coaching Little
    League/Soccer, and raising his Kids. In 2010, Bob reopened the <i>Custom Hand Painting business</i>,
    again the first time in Calistoga. At various event's you may see Bob's Son and Daughter help
    with running the booth. Most recently, Bob's Son has been developing this website. </p>

  <p>
    The newest products that Bob designed over the past few year started with the <b>Glow in the Dark 
      Clothing line (Wing and Non-Wing)</b> which includes Sweatshirts, Long-Sleeve T-shirts, T-shirts,
    Women's V-necks & Racer Back Tank Tops, along with Kid's Shirts. He now <b>Custom Hand Paints Pull
      Back Sprint Cars</b> to look like the drivers along with the bigger 1/24 Racing Champions & also
    the 1/18 GMP cars. He will also do <b>Outlaw Karts, Quarter Midgets & Mini Sprints.</b> He is always
    creating NEW products that no one else has done. The newest is the <b>3D LED Sprint Car Lights
      with Remote Control</b> <i> can be custom made with your Drivers name & number. </i></p>


</div>