<h1 id="page-title">Upcoming Events</h1>

<h3 id="disclaimer">Schedule Is Subject To Change</h3>

<div id="schedule">
    <table>
        <tr>
            <td>April</td>
        </tr>
        <tr>
            <td>23</td>
            <td>EL Paso County Raceway, Calhan, CO</td>
        </tr>
        <tr>
            <td>30</td>
            <td>EL Paso County Raceway, Calhan, CO</td>
        </tr>
    </table>
</div>