<h1 id="page-title">Welcome To Sprint Stuff</h1>

<div class="mySlideShow">
    <img src="/images/home-slideshow/1.jpg" alt="" class="mySlides">
    <img src="/images/home-slideshow/2.jpg" alt="" class="mySlides">
    <img src="/images/home-slideshow/3.jpg" alt="" class="mySlides">
    <img src="/images/home-slideshow/4.jpg" alt="" class="mySlides">
    <img src="/images/home-slideshow/5.jpg" alt="" class="mySlides">
</div>