.footer {
    display: flex;
    background-color: lightgrey;
    color: blue;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  footer table{
    margin: auto;
  }
  footer a{
    color: black;
  }