
/*Individual product page*/
.mini-nav{
    color: white;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  
  .mini-nav a{
    color: white;
    text-align: left;
    text-decoration: none;
    width: 100%;
  }
  
  .mini-nav a:hover{
    color: lightblue;
    text-decoration: underline;
    text-align: left;
    width: 100%;
  }
  
  .individual-product{
    height: 500px;
    width: 500px;
    max-width: 45%;
    max-height: calc(100vh - 200px);
    float: left;
    background-color: aqua;
    color: black;
    margin: 20px;
  }
  
  .individual-product-image-container{
    height: 95%;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    position: relative;
  }
  
  .individual-product-image{
    max-height: 100%;  
    max-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .image-Description{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 10%;
    color: white;
    line-height: 100%;
    background-color: #464646;
    visibility: hidden;
  }

  .individual-product-image-container:hover > .image-Description {
    visibility: visible; 
  }

  
  
  #individual-product-details{
    height: 500px;
    width: 500px;
    max-width: 45%;
    max-height: calc(100vh - 200px);
    float: right;
    text-align: left;
    margin: 20px;
  }
  
  #individual-product-price{
    color: #ee0000;
  }
  
  #individual-product-name{
    height: fit-content;
    overflow-wrap: normal;
  }
  
  
  #individual-product-description{
    height: fit-content;
    width: inherit;
    overflow-wrap: normal;
  }


  .similar-product-listing{
    width: 100%;
    display: inline-block;
  }
  .similar-product{
    height: 180px;
    width: 150px;
    display: inline-table;
    background-color: aqua;
    color: black;
    margin: 20px;
  }
  .similar-product-image-container{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    position: relative;
  }
  
  .similar-product-image{
    max-height: 100px;  
    max-width: 100px;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .similar-product-image:hover{
    transform: scale(1.2);

  }
  
  