
body {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background-color: black;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

.product-image-container{
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  position: relative;
}


.product-image{
  max-height: 100%;  
  max-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product{
  height: 200px;
  width: 150px;
  display: inline-block;
  background-color: aqua;
  color: black;
  margin: 20px;
}


#page-title{
  width: 80%;
  float: right;
}

#product-navigation{
  height: calc(100vh - 200px);
  width: 19%;
  float: left;
  background-color: aquamarine;
  color: black;
  text-align: left;
  padding-left: 1%;
}

.product-navigation-titles{
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
}

#clear-filters{
  color: #ee0000;
  font-size: inherit;
}
