
body {
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-color: azure;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

#page-container{
  position: relative;
  min-height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.8);
  opacity: .9;
}

#content{
  padding-bottom: 100px;
}

#page-title{
  width: 100%;
  display: inline-block;
}
